/* universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* force to inherit from body */
}

/* root selector  */
// html {
//   font-size: 62.5%; /* 100% = 16px so 10px = 62.5% (10/16) // 1 rem = 10px */
// }

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
}

// .container {
//   width: 100%;
//   height: 100vh;
// }

// .flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .flex-col {
//   flex-direction: column;
// }
