/* universal selector */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* force to inherit from body */
}

/* root selector  */
html {
  font-size: 62.5%;
  /* 100% = 16px so 10px = 62.5% (10/16) // 1 rem = 10px */
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  background-color: white;
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.navbar .logo {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: auto;
}

.navbar .username {
  margin-right: 0.5rem;
}

.site-layout-background {
  background: whitesmoke;
}

.login-form {
  max-width: 600px;
  width: 350px;
}

.login-form-button {
  width: 100%;
}

.ant-layout-sider-zero-width-trigger {
  top: 0px;
}
